# dependencies
/node_modules
/.pnp
.pnp.js
/package-lock.json
/jspm_packages/
/bower_components
/web_modules/

# testing
/coverage
*.lcov
.nyc_output
lib-cov

# production
/build
/dist
/.next
/out
/.nuxt
build/Release
.vuepress/dist
**/.vitepress/dist

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# IDE
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode-test

# misc
.DS_Store
Thumbs.db

# Cache directories
.cache/
.parcel-cache
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.temp
**/.vitepress/cache
.docusaurus

# TypeScript
*.tsbuildinfo

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Other
.node_repl_history
*.tgz
.yarn-integrity
.lock-wscript
.serverless/
.fusebox/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.grunt